/** browser.css
 *  3/29/2013 jichi
 */

/** Tab bar
 *  See: http://stackoverflow.com/questions/7340046/qtabwidget-tabposition-when-using-stylesheets
 * */
QTabBar::tab {
  padding: 5px;
  /*
  background: qlineargradient(spread:pad, x1:0.5, y1:0, x2:0.5, y2:1, stop:0 rgba(73, 73, 74, 255), stop:1 rgba(40, 40, 40, 255));
  border: 1px solid rgb(190, 190, 190);
  max-height: 0.6em;
  margin-left: -1px;
  margin-right: -1px;
  max-width: 30em;
  */
  min-width: 5em;
  border-radius: 3px;
  color: snow;
  background-color: rgba(255,255,255,20%); /* white */
}

QTabBar::tab:selected {
  color: black;
  background-color: rgba(255,255,255,90%);
  /*background: qlineargradient(spread:pad, x1:0.5, y1:1, x2:0.5, y2:0, stop:0 rgba(39, 117, 219, 255), stop:1 rgba(107, 171, 249, 255));*/
}

QTabBar::tab:hover {
  color: black;
  background-color: #ffe; /* slightly yellow */
}

/*
QTabBar::tab:last {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  margin-right: 0px;
}

QTabBar::tab:first {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  margin-left: 0px;
}

QTabBar::tab:only-one {
  border-radius: 3px;
  margin: 0px;
}
*/

/** Status bar */

QStatusBar {
  color: snow;
}

QStatusBar.warning,
QStatusBar.error {
  font-weight:: bold;
}

/** Tab corner button, see: bootstrap .close */
QPushButton.btn-tab-corner {
  width: 18px;
  height: 18px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  background-color: rgba(224, 224, 224, 10%); /* gray */
}
QPushButton.btn-tab-corner:hover,
QPushButton.btn-tab-corner:focus {
  border: 1px solid white;
  background-color: rgba(224, 224, 224, 20%); /* gray */
}

/** Address toolbar */
QToolBar.toolbar-address {
  border: 1px solid white;
  border-radius: 4px;
}

QToolBar.toolbar-address QToolButton {
  color: snow;
  width: 16px;
  height: 16px;
  font-size: 12px;
}

/* EOF */
