{# furigana.html 11/28/2012 jichi
 # @param  tuples  [unicode surface, unicode yomigana, str color, int groupId or None]
 # @param  rubySize  int  yomigana font size
 # @param* paddingSize  int  padding space size
 # @param* center  bool  align ment
 # @param* groupColor  str  group color
 #
 # Tuples will be iterated twice.
 # Tuple elements can be None.
 # This file is not written in HAML for performance reason.
-#}
<html>
	<head>
		<style type="text/css">
.ruby {
	font-weight: bold;
	font-size: {{rubySize}}px;
}
%if paddingSize
td {
	padding-left: {{paddingSize}}px;
	padding-right: {{paddingSize}}px;
}
%endif
		</style>
	</head>
	<body>
%if center
		<center>
%endif
			<table>
				<tr class="ruby" valign="bottom">
%for _, yomi, _, _ in tuples
%	if yomi
					<td align="center">{{yomi}}</td>
%	else
					<td />
%	endif
%endfor
				</tr>
				<tr class="surface">
%for surface, _, color, groupId in tuples
%	if surface
					<td align="center"
%		if color
						style="background-color:{{color}}"
%		elif groupColor and groupId and groupId%2
						style="color:{{groupColor}}"
%		endif
					>{{surface|e}}</td>
%	else
					<td />
%	endif
%endfor
				</tr>
			</table>
%if center
		</center>
%endif
	</body>
</html>
