{# shiori.html 11/25/2012 jichi
 # @param  language  unicode  not used
 # @param  text  unicode not None  The orignal text to translate
 # @param  feature  unicode or None
 # @param  edict_tuples  [cjklib.dictionary.EntryTuple(Headword, Reading, Translation)]
 # @param  ld_tuples  [unicode word, unicode xmls]
 # @param  eb_strings  [unicode]
 #
 # Escaping is disabled to improve performance.
-#}
%set gg = "https://www.google.com/?#hl=ja&safe=off&q="
%set bd = "https://www.baidu.com/s?wd="
<html>
	<head>
		<style type="text/css">
p{margin:6px 0 0}
i{font-style:normal}
a{color:silver}
.q a{text-decoration:none;color:lightblue}
.f span{background-color:rgba(255,0,0,50%);font-weight:bold}
.sk,.th{background-color:rgba(128,0,128,80%)}
.ta{text-align:right}
/*.sr,.tt{font-weight:normal}*/
		</style>
	</head>
	<body>
%if feature
		<p class="f"><span>{{feature}}</span></p>
%endif
		<p class="q">
			<a href="{{gg}}{{text}}">+google</a>
			{{' '}}<a href="{{bd}}{{text}}">+baidu</a>
		</p>
%if ld_tuples
%	for word, xml in ld_tuples
		<p class="t">
			<div class="q">
				<span class="th">{{word}}</span>
				{{' '}}<a href="{{gg}}{{word}}">+gg</a>
				{{' '}}<a href="{{bd}}{{word}}">+bd</a>
			</div>
			<div class="tt">{{xml}}</div>
		</p>
%	endfor
%endif
%if eb_strings
%	for s in eb_strings
		<p class="s">{{s}}</p>
%	endfor
%endif
%if edict_tuples
%	for t in edict_tuples
		<p class="t">
			<div class="q">
				<span class="th">{{t.Headword}}</span>
%		if t.Reading
				{{' '}}<span class="tr">{{t.Reading}}</span>
%		endif
				{{' '}}<a href="{{gg}}{{t.Headword}}">+gg</a>
				{{' '}}<a href="{{bd}}{{t.Headword}}">+bd</a>
			</div>
			<div class="tt">{{t.Translation}}</div>
		</p>
%	endfor
%endif
	</body>
</html>
