; about.haml
; 3/31/2014 jichi
; tr
;!!! 5
%html
  %head
    :css
      /* Bootstrap link */
      a {
        color: #0088cc;
        text-decoration: none;
      }
      a:hover,
      a:focus {
        color: #005580;
        text-decoration: underline;
      }
  %body
    %h4 #{tr('Shortcuts')}

; EOF
